*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

.form-iS{
  width: 400px;
  background: linear-gradient(to right, rgba(221,249,118,1) 0%, rgba(75,159,219,0.77) 100%);
  padding: 30px;
  margin: auto;
  margin-top: 40px;
  border-radius: 4px;
  box-shadow: 7px 13px 37px #000;
}

section H1{
  font-size: 25px;
}

.section-input{
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  font-size: 18px;
  border: solid 2px blue;
}

.join{
  height: 40px;
  text-align: center;
  font-size: 18px;
}

section a{
  text-decoration: none;
  color: white;
}

section a:hover{
  text-decoration: underline;
  color: white;
}
.boton{
  width: 100%;
  padding: 12px;
  margin: 16px 0;
  font-size: 18px;
}

body{
  background-image: url(../img/fondoHojas.jpg);
 }

body a{
  color: white;
}